@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Noto+Sans+KR:300,400,700&display=swap&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
.align-bottom {
  position: absolute;
  bottom: 0;
}

hr {
  clear: both;
  margin: 0;
  border: none;
  outline: none;
}
hr.gutter-large {
  height: 56px;
}
hr.gutter-medium {
  height: 40px;
}
hr.gutter-small {
  height: 20px;
}
hr.line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
hr.line-v {
  position: relative;
  width: 1px;
}
hr.line-v:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bt-dark {
  border-top: 1px solid #333;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.tc {
  text-align: center !important;
}

.nowrap {
  white-space: nowrap;
}

.tu {
  text-decoration: underline;
}

.fw-bold {
  font-weight: 700;
}

.fill-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fill-height-item {
  flex: 1;
}

.list-disc > li {
  list-style: disc;
  list-style-position: inside;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "Noto Sans KR", "Spoqa Han Sans Neo", "Spoqa Han Sans", "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic", "돋움", Dotum, sans-serif;
  font-weight: 400;
  color: #fff;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
}

body {
  background-color: #000A14;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, fieldset, form, legend, p, blockquote, th, td, label, input, select, textarea, button, a {
  margin: 0;
  padding: 0;
}

a, h1, h2, h2, h3, h4, h5, h6, label, input, textarea, select, button, small, p, span, dl, ul, ol, th, td, address, em, i, strong {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
  color: inherit;
}

dl, ol, ul, li {
  list-style: none;
}

h1, h2, h2, h3, h4, h5, h6, address, em, i, strong, th {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

fieldset {
  border: none;
}

a:focus, button:focus, textarea:focus, input:focus, select:focus, li:focus {
  outline: none;
}

a, button, select {
  cursor: pointer;
}

input[type=button], input[type=submit], select {
  border: none;
  background: none;
}

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=date], input[type=month], select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box !important;
  vertical-align: middle !important;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  background: transparent;
}

table {
  border-spacing: 0;
}

iframe {
  border: none;
}

body {
  overflow-x: auto;
  min-width: 1600px;
  min-height: 100vh;
}

.layout-content {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  margin-left: 160px;
  padding: 56px 5.68% 56px 2.27%;
}
.layout-content > .header {
  display: flex;
  align-items: center;
}
.layout-content > .header h1 {
  font-size: 4rem;
  font-weight: 700;
}
.layout-content > .header h1 + * {
  margin-left: auto;
}
.layout-content > .header form {
  display: flex;
  align-items: center;
}
.layout-content > .header form .form-item {
  width: 300px;
}
.layout-content > .header form button {
  margin-left: 16px;
}
.layout-content > .body {
  margin-top: 56px;
}
.layout-content > .body.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-search {
  justify-content: flex-start !important;
}
.form-search .form-item {
  flex: none !important;
  width: 200px;
}

.list-filter {
  margin-top: 12px;
}
.list-filter .btn-h32 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  max-width: 200px;
  margin-top: 8px;
  padding-right: 24px;
}
.list-filter .btn-h32:before {
  content: "close";
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -12px;
  font-size: 1.6rem;
  font-family: "Material Icons";
  color: rgba(255, 255, 255, 0.8);
}
.list-filter .btn-h32:not(:last-child) {
  margin-right: 8px;
}

.section-row {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.section-row .section {
  flex: 1;
}

.section > .header {
  display: flex;
  align-items: center;
}
.section > .header h3 {
  font-size: 2rem;
  font-weight: 700;
}
.section > .header h3 span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.section > .header h3 + * {
  margin-left: auto;
}
.section > .header select {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.section > .body {
  margin-top: 40px;
}

.empty, .progress-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}
.empty h6, .progress-wrap h6 {
  font-weight: 700;
}
.empty p, .progress-wrap p {
  margin-top: 4px;
}

.empty {
  flex-grow: 1;
}
.empty img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.empty h6 {
  margin-top: 8px;
}

.progress-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 10, 20, 0.8);
  z-index: 10;
}
.progress-wrap .progress {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.progress-wrap .progress:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid #2DFFBA;
  border-color: #2DFFBA transparent #2DFFBA transparent;
  animation: progress 1.2s linear infinite;
}
@keyframes progress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.progress-wrap h6 {
  margin-top: 32px;
}

.btn-h32 {
  display: inline-block;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 1.2rem;
}
.btn-h32 i {
  vertical-align: middle;
  font-size: 1.6rem;
}

.btn-h36 {
  display: inline-block;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  vertical-align: middle;
  padding: 7px 16px;
  border-radius: 8px;
  font-size: 1.4rem;
  line-height: 2rem;
}
.btn-h36 i {
  vertical-align: middle;
  font-size: 1.6rem;
}

.btn-h52 {
  display: inline-block;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  vertical-align: middle;
  padding: 13px 24px;
  border-radius: 8px;
  font-size: 1.6rem;
}
.btn-h52 i {
  vertical-align: middle;
  font-size: 1.6rem;
}

.btn-primary {
  border: 1px solid #2DFFBA;
  background-color: #2DFFBA;
  font-weight: 500;
  color: #000A14;
}
.btn-primary:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-blue-dark-light {
  border: 1px solid #14191E;
  background-color: #14191E;
  font-weight: 500;
  color: #fff;
}
.btn-blue-dark-light:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}
.btn-outline:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline-red {
  border: 1px solid #FB435F;
  color: #FB435F;
}
.btn-outline-red:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-close {
  font-family: "Material Icons";
  font-size: 2.4rem;
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
input[type=month],
textarea {
  max-width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: #fff;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=file]:focus,
input[type=date]:focus,
input[type=month]:focus,
textarea:focus {
  border-bottom: 1px solid #2DFFBA !important;
}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=search]:disabled,
input[type=number]:disabled,
input[type=email]:disabled,
input[type=tel]:disabled,
input[type=file]:disabled,
input[type=date]:disabled,
input[type=month]:disabled,
textarea:disabled {
  cursor: default;
  color: rgba(255, 255, 255, 0.4);
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
input[type=month] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  padding-top: 20px !important;
  padding-bottom: 8px !important;
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
  width: 100%;
}

input[type=password] {
  -webkit-text-security: disc;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

select {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 20px !important;
  padding-bottom: 8px !important;
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
  background-size: 24px !important;
  padding-right: 40px !important;
  background-position: right 0 top 50% !important;
  position: relative !important;
  background-color: transparent !important;
  background-image: url(../images/ico-expand-more.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  text-align: left !important;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #fff !important;
}
select:not(select.noborder) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
select:not(select.noborder):focus {
  border-bottom: 1px solid #2DFFBA !important;
}
select option {
  color: #000 !important;
}
select.no-label {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.i-readonly {
  background-color: #f4f4f4;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.radio-container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.radio-container .checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px;
  content: "";
  display: none;
  border-radius: 50%;
  background-color: #000A14;
}
.radio-container:hover input ~ .checkmark {
  border: 2px solid #000A14;
}

.checkbox-container {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid #2DFFBA;
  background-color: #2DFFBA;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  background-color: transparent;
}
.checkbox-container .checkmark:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 11px;
  margin-top: -7px;
  margin-left: -4px;
  border: solid #000A14;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #2DFFBA;
}

form select {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
}
.form-row:not(:first-child) {
  margin-top: 20px;
}
.form-row .form-item {
  flex: 1;
  margin-top: 0 !important;
}
.form-row .form-item:not(:first-child) {
  margin-left: 20px;
}

.form-item {
  position: relative;
}
.form-item:not(:first-child) {
  margin-top: 20px;
}
.form-item > .field {
  width: 100%;
  background: transparent;
  transition: border-color 0.2s;
}
.form-item > .field::-moz-placeholder {
  color: transparent;
}
.form-item > .field::placeholder {
  color: transparent;
}
.form-item > .field:-moz-placeholder-shown ~ .label {
  font-size: 1.6rem !important;
  cursor: text;
  top: 16px;
}
.form-item > .field:placeholder-shown ~ .label {
  font-size: 1.6rem !important;
  cursor: text;
  top: 16px;
}
.form-item > .field:focus ~ .label {
  color: #2DFFBA;
}
.form-item > .label, .form-item > .field:focus ~ .label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.2rem !important;
}
.form-item > .label {
  color: rgba(255, 255, 255, 0.5);
}

.login-form {
  margin-top: 16px;
}
.login-form .btn-h48 {
  width: 100%;
  margin-top: 24px;
}
.login-form .form-item {
  margin-top: 24px;
}
.login-form .form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 1.4rem;
}
.login-form .form-error {
  display: none;
  margin-top: 12px;
  font-size: 1.2rem;
  color: #FB435F;
  vertical-align: middle;
}
.login-form .form-error.active {
  display: block;
}
.login-form .form-error i {
  display: inline-block !important;
  margin-right: 8px;
  font-size: 1.6rem;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
  border-radius: inherit;
}

.img {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.03);
}
.img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.pagination {
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
}
.pagination ul {
  display: inline-block;
}
.pagination li {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
}
.pagination a {
  display: block;
  color: #fff;
  font-size: 1.4rem;
}
.pagination a,
.pagination a i {
  line-height: 40px;
}
.pagination a.active {
  border-radius: 50%;
  background-color: #2DFFBA;
  font-weight: 700;
  color: #000A14;
}
.pagination a.disabled {
  opacity: 0.2;
  cursor: default;
}
.pagination i {
  font-family: "Material Icons";
  font-size: 2.4rem;
  color: #fff;
}

.nav-tab {
  display: flex;
  flex-direction: row;
}
.nav-tab .tab-item {
  flex-grow: 1;
}
.nav-tab .tab-item a {
  display: block;
  padding: 0 32px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.6rem;
  text-align: center;
}
.nav-tab .tab-item a.active {
  border-bottom: 1px solid #2DFFBA;
  font-weight: 700;
  color: #2DFFBA;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.table {
  width: 100%;
}
.table thead th,
.table thead td {
  border-bottom: 1px solid transparent;
}
.table tbody th,
.table tbody td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.table caption {
  overflow: hidden;
  margin-bottom: 12px;
}
.table caption span {
  float: left;
  margin-top: 8px;
  font-size: 1.2rem;
}
.table caption button {
  float: right;
}
.table th,
.table td {
  max-width: 200px;
  padding: 12px 16px;
  text-align: left;
  word-break: break-word;
}
.table thead th,
.table thead td {
  background-color: #14191E;
  font-size: 1.4rem;
  color: #fff;
  vertical-align: middle;
}
.table tbody th,
.table tbody td {
  font-size: 1.4rem;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.8);
}
.table tbody th.fw-bold,
.table tbody td.fw-bold {
  color: #fff;
}
.table tbody th.fw-bold a:hover,
.table tbody td.fw-bold a:hover {
  text-decoration: underline;
}
.table tfoot th,
.table tfoot td {
  padding: 12px 16px;
  text-align: right;
}
.table tfoot a,
.table tfoot button {
  display: inline-block;
  min-width: 64px;
  text-align: center;
}
.table tr.active {
  font-weight: 700;
  color: #2DFFBA;
}

.table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.table-header .title {
  font-size: 2rem;
  font-weight: 700;
}
.table-header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}
.table-header ul li {
  font-size: 1.4rem;
  opacity: 0.6;
}
.table-header ul li:not(:first-child) {
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.table-hasButton tbody th, .table-hasButton tbody td {
  vertical-align: middle;
}

.list-label.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-label.horizontal .chart-label {
  margin-right: 12px;
  margin-left: 12px;
}

.chart-label {
  display: flex;
  position: relative;
  text-align: left;
}
.chart-label .toggle, .chart-label h6, .chart-label span {
  flex-grow: 1;
}
.chart-label h6, .chart-label span {
  flex-grow: 1;
  font-size: 1.4rem;
  font-weight: normal;
  white-space: nowrap;
}
.chart-label.dash {
  padding-left: 36px;
}
.chart-label.dash:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  background-image: linear-gradient(to right, #000 50%, #000 0%);
  background-position: 0 50%;
  background-size: 4px 2px;
  background-repeat: repeat-x;
  opacity: 1;
}
.chart-label.dash.white:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  background-image: linear-gradient(to right, #fff 50%, #000 0%);
  background-position: 0 50%;
  background-size: 8px 12px;
  background-repeat: repeat-x;
  opacity: 1;
}
.chart-label.rectangle {
  padding-left: 36px;
}
.chart-label.rectangle:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  background-color: #000;
  opacity: 1;
}
.chart-label.rectangle.blue:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  background-color: #126CBB;
  opacity: 1;
}
.chart-label.rectangle.green:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 16px;
  margin-top: -8px;
  background-color: #2DFFBA;
  opacity: 1;
}

/*== start of code for tooltips ==*/
.tool {
  cursor: help;
  position: relative;
}

/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  z-index: 100;
}

/*== pointer tip ==*/
.tool::before {
  content: "";
  bottom: calc(100% + 14px);
  margin-left: -6px;
  border-style: solid;
  border-width: 12px 8px 0 8px;
  border-color: #2F3439 transparent transparent transparent;
}

/*== speech bubble ==*/
.tool::after {
  background: #2F3439;
  border-radius: 8px;
  bottom: 180%;
  color: #fff;
  content: attr(data-tip);
  margin-left: -120px;
  padding: 8px 12px;
  width: 240px;
  font-size: 1.4rem;
}

.layout-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  padding-top: 66px;
  padding-bottom: 56px;
  background: #000A14;
  z-index: 200;
}
.layout-sidebar > .header {
  width: 40px;
  height: 40px;
  background-image: url(../images/logo.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}
.layout-sidebar a, .layout-sidebar button {
  display: block;
  text-align: center;
}
.layout-sidebar a i, .layout-sidebar button i {
  font-size: 3.2rem;
  color: #fff;
}
.layout-sidebar > .menu {
  width: 100%;
}
.layout-sidebar > .menu > li {
  overflow: hidden;
}
.layout-sidebar > .menu > li:not(:first-child) {
  margin-top: 40px;
}
.layout-sidebar > .menu > li a {
  padding: 12px 0;
}
.layout-sidebar > .menu > li a.active {
  position: relative;
  position: relative;
}
.layout-sidebar > .menu > li a.active i {
  color: #2DFFBA;
}
.layout-sidebar > .menu > li a.active:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 6px;
  background-color: #2DFFBA;
}

.page-login {
  height: 100%;
  overflow: hidden;
}
.page-login:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -120px;
  left: 50%;
  width: 80%;
  height: 240px;
  margin-left: -40%;
  border-radius: 50%;
  background: #2DFFBA;
  filter: blur(250px);
}
.page-login .login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 430px;
  margin-top: -215px;
  margin-left: -180px;
}
.page-login .header {
  margin-bottom: 80px;
  text-align: center;
}
.page-login .header img {
  width: 80px;
}
.page-login form > button {
  width: 100%;
  margin-top: 40px;
}
.page-login .copyright {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 360px;
  margin-left: -180px;
  font-size: 1.6rem;
  text-align: center;
}

.page-home .layout-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-home .layout-content > .body {
  display: flex;
  flex-grow: 1;
}
.page-home .section-form {
  width: 22.22%;
  min-width: 200px;
}
.page-home .section-form .form-group:not(:first-child) {
  margin-top: 56px;
}
.page-home .section-form .form-group > .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.page-home .section-form .form-group > .header h3 {
  font-size: 2rem;
  font-weight: 700;
}
.page-home .section-form .form-group > .header h3 + * {
  width: auto;
  margin-left: auto;
}
.page-home .section-form .form-group > .body {
  margin-top: 20px;
}
.page-home .section-form .img.car {
  position: relative;
  height: 180px;
  margin-bottom: 20px;
}
.page-home .section-form .img.car:before {
  content: "image";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  font-size: 3.2rem;
  font-family: "Material Icons";
  color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
.page-home .section-form .img.car img {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.page-home .section-form > button {
  width: 100%;
  margin-top: 56px;
  font-weight: 700;
}
.page-home .section-wrap {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 80px;
  position: relative;
  margin-left: 7.4%;
}
.page-home .section-wrap > .section {
  flex: 1 1 0;
}
.page-home .section {
  position: relative;
}
.page-home .section-row {
  gap: 0;
}
.page-home .section-row .section-item {
  flex-grow: 1;
}
.page-home .section-row .section-item:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.page-home .section-col .section-item:not(:first-child) {
  margin-top: 32px;
}
.page-home .section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.page-home .section-item .label {
  font-size: 1.6rem;
}
.page-home .section-item .value {
  margin-top: 8px;
  font-size: 5.6rem;
  font-family: "Lato";
  font-weight: 300;
}
.page-home .section-item .value.large span {
  font-size: 4rem;
}
.page-home .section-item .value.small {
  font-size: 2.4rem;
}
.page-home .section-item .value.bold {
  font-weight: 700;
}
.page-home .section-item .value.bold span {
  font-weight: 300;
}
.page-home .section-item .value.green {
  color: #2DFFBA;
}
.page-home .section-item .value .triangle, .page-home .section-item .value .dot {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}
.page-home .section-item .value .triangle {
  width: 0;
  height: 0;
  border-style: solid;
}
.page-home .section-item .value .triangle.green {
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #2DFFBA transparent;
}
.page-home .section-item .value .triangle.red {
  border-width: 10px 8px 0 8px;
  border-color: #FB435F transparent transparent transparent;
}
.page-home .section-item .value .dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.page-home .section-item .value .dot.gray {
  background: rgba(255, 255, 255, 0.2);
}
.page-home .section-item .value .dot.green {
  background: #2DFFBA;
}
.page-home .section-item .value .dot.red {
  background: #FB435F;
}
.page-home .section-item .value .dot.yellow {
  background: #FFD464;
}
.page-home .section-item .guide {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 1.4rem;
}
.page-home .section-item .guide.red {
  color: #FB435F;
}
.page-home .section-item .guide i {
  margin-right: 8px;
  font-size: 2rem;
}
.page-home .charging-info > .info1 .text {
  margin-bottom: 32px;
}
.page-home .charging-info > .info1 .text h5 {
  font-size: 3.2rem;
  font-weight: 700;
}
.page-home .charging-info > .info1 .text p {
  margin-top: 4px;
  font-size: 1.4rem;
  opacity: 0.6;
}
.page-home .charging-info > .info2 {
  margin-top: 64px;
  margin-bottom: 64px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.page-home .chart-battery {
  overflow: hidden;
  position: relative;
  width: 360px;
  height: 80px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
}
.page-home .chart-battery:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: -o-linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$from", endColorstr="$to", GradientType=1);
}
.page-home .chart-battery:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 10, 20, 0);
  background-image: -o-linear-gradient(180deg, rgba(0, 10, 20, 0) 0%, rgba(0, 10, 20, 0.9) 100%);
  background: linear-gradient(180deg, rgba(0, 10, 20, 0) 0%, rgba(0, 10, 20, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$from", endColorstr="$to", GradientType=1);
}
.page-home .chart-battery div {
  height: 100%;
  background-color: #2DFFBA;
}
.page-home .forecast-info .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.page-home .forecast-info .header h5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: 700;
}
.page-home .forecast-info .header h5 span i {
  font-size: 2rem;
}
.page-home .forecast-info .header hr {
  flex-grow: 1;
}
.page-home .forecast-info .info1 > .section-item {
  margin-top: 20px;
}
.page-home .forecast-info .info1 > .chart-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  margin-top: 20px;
}
.page-home .forecast-info .info1 > .chart-wrap .section-item {
  flex: 1 1 0;
}
.page-home .forecast-info .info2 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.page-home .forecast-info .info2 .section-row {
  margin-top: 32px;
  margin-bottom: 32px;
}
.page-home .forecast-info .info2 .list-disc {
  font-size: 1.4rem;
  opacity: 0.6;
}
.page-home .forecast-info .info2 .list-disc li:not(:first-child) {
  margin-top: 8px;
}
.page-home .forecast-info .info2 .list-disc span {
  font-weight: 700;
}
.page-home .forecast-info .info2 .empty-text {
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #fff;
  opacity: 0.2;
}
.page-home .forecast-info .info2 .empty-text:before {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  width: 61%;
  left: 0;
  height: 12px;
  background-color: #fff;
}
.page-home .forecast-info .info3 {
  display: flex;
  flex-direction: column;
}
.page-home .forecast-info .info3 .chart {
  flex-grow: 1;
  height: 140px;
  margin-top: 32px;
}
.page-home .chart-gauge {
  width: 212px;
  height: 112px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.page-home .chart-gauge .label {
  margin-top: auto;
}

.page-members .layout-content {
  flex-grow: 1;
}
.page-members .layout-content.memberinfo-active {
  margin-right: 22.9%;
}
.page-members .member-info {
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 22.9%;
  min-width: 200px;
  z-index: 200;
  padding: 56px 2.91%;
  background: #14191E;
}
.page-members .member-info.active {
  display: flex;
  flex-direction: column;
}
.page-members .member-info > .body {
  flex-grow: 1;
  position: relative;
}
.page-members .member-info .form-footer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.page-members .member-info .form-footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.page-members .member-info .form-footer hr {
  height: 1px;
  width: 100%;
  margin: 40px 0;
  background: rgba(255, 255, 255, 0.2);
}

.page-mypage .layout-content {
  padding-right: 2.27%;
}
.page-mypage .my-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  margin-top: -250px;
  margin-left: -400px;
  width: 800px;
}
.page-mypage .my-info .form-footer {
  display: flex;
  margin-top: 40px;
}
.page-mypage .my-info .form-footer button:last-child {
  margin-left: auto;
}

.section-dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  border-radius: 20px;
  background-color: #14191E;
  text-align: center;
}
.section-dl i {
  display: inline-block;
  padding: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 3.2rem;
  line-height: 1;
  font-family: "Material Icons";
  color: #2DFFBA;
}
.section-dl dl {
  margin-top: 48px;
}
.section-dl dt {
  font-size: 1.6rem;
}
.section-dl dd {
  font-size: 5.6rem;
  font-weight: 700;
}
.section-dl dd span {
  font-size: 4rem;
  font-weight: 400;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  outline: 0;
}

.modal-dialog {
  display: inline-block;
  position: relative;
  width: auto;
  max-width: 100%;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 40px 52px;
  pointer-events: auto;
  background-color: #14191E;
  background-clip: padding-box;
  border: 1px solid none;
  border-radius: 20px;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
}
.modal-header .btn-close {
  margin-left: auto;
}

.modal-body {
  position: relative;
  margin-top: 40px;
}

.modal-footer {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-footer p {
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
}
.modal-footer p span {
  font-weight: 700;
}
.modal-footer a,
.modal-footer button {
  min-width: 120px;
  margin-left: auto;
  vertical-align: middle;
}

.modal-dialog {
  margin: 1.75rem auto;
  text-align: left;
}

.modal-lg {
  max-width: 800px;
}

.modal-xl {
  width: 73%;
  min-width: 900px;
  max-width: 1140px;
}

.modal-table .modal-dialog {
  min-width: 720px;
}

.modal-apikey .modal-dialog {
  width: 400px;
}
.modal-apikey .box-green {
  margin-bottom: 40px;
  padding: 12px 0;
  border-bottom: 1px solid #2DFFBA;
  text-align: center;
  font-size: 1.6rem;
  word-wrap: break-word;
  color: #2DFFBA;
}
.modal-apikey .modal-footer button {
  width: 100%;
}

.modal-car .modal-dialog {
  width: 500px;
}
.modal-car .table-car td {
  color: #fff;
}
.modal-car .modal-footer button {
  width: 100%;
}