@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+KR:300,400,700&display=swap&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
.align-bottom {
  position: absolute;
  bottom: 0;
}

hr {
  clear: both;
  margin: 0;
  border: none;
  outline: none;
}
hr.gutter-large {
  height: 56px;
}
hr.gutter-medium {
  height: 40px;
}
hr.gutter-small {
  height: 20px;
}

.bt-dark {
  border-top: 1px solid #333;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.tc {
  text-align: center !important;
}

.nowrap {
  white-space: nowrap;
}

.tu {
  text-decoration: underline;
}

.fw-bold {
  font-weight: 700;
}

.fill-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fill-height-item {
  flex: 1;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "Noto Sans KR", "Spoqa Han Sans Neo", "Spoqa Han Sans", "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic", "돋움", Dotum, sans-serif;
  font-weight: 400;
  color: #fff;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
}

body {
  background-color: #000A14;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, fieldset, form, legend, p, blockquote, th, td, label, input, select, textarea, button, a {
  margin: 0;
  padding: 0;
}

a, h1, h2, h2, h3, h4, h5, h6, label, input, textarea, select, button, small, p, span, dl, ul, ol, th, td, address, em, i, strong {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
  color: inherit;
}

dl, ol, ul, li {
  list-style: none;
}

h1, h2, h2, h3, h4, h5, h6, address, em, i, strong, th {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

fieldset {
  border: none;
}

a:focus, button:focus, textarea:focus, input:focus, select:focus, li:focus {
  outline: none;
}

a, button, select {
  cursor: pointer;
}

input[type=button], input[type=submit], select {
  border: none;
  background: none;
}

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=date], select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box !important;
  vertical-align: middle !important;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  background: transparent;
}

table {
  border-spacing: 0;
}

iframe {
  border: none;
}

body {
  overflow-x: auto;
  min-width: 1600px;
}

.layout-content {
  margin-left: 160px;
  padding: 56px 5.68% 56px 2.27%;
}
.layout-content > .header {
  display: flex;
  align-items: center;
}
.layout-content > .header h1 {
  font-size: 4rem;
  font-weight: 700;
}
.layout-content > .header h1 + * {
  margin-left: auto;
}
.layout-content > .header form {
  display: flex;
  align-items: center;
}
.layout-content > .header form .form-item {
  width: 300px;
}
.layout-content > .header form button {
  margin-left: 16px;
}
.layout-content > .body {
  margin-top: 56px;
}

.section > .header {
  display: flex;
  align-items: center;
}
.section > .header h3 {
  font-size: 2rem;
  font-weight: 700;
}
.section > .header h3 span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.section > .header h3 + * {
  margin-left: auto;
}
.section > .header select {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.section > .body {
  margin-top: 40px;
}

.btn-h36 {
  display: inline-block;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  vertical-align: middle;
  padding: 7px 16px;
  border-radius: 8px;
  font-size: 1.4rem;
  line-height: 2rem;
}
.btn-h36 i {
  vertical-align: middle;
  font-size: 1.6rem;
}

.btn-h52 {
  display: inline-block;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  vertical-align: middle;
  padding: 13px 24px;
  border-radius: 8px;
  font-size: 1.6rem;
}
.btn-h52 i {
  vertical-align: middle;
  font-size: 1.6rem;
}

.btn-primary {
  border: 1px solid #2DFFBA;
  background-color: #2DFFBA;
  font-weight: 500;
  color: #000A14;
}
.btn-primary:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-blue-dark-light {
  border: 1px solid #14191E;
  background-color: #14191E;
  font-weight: 500;
  color: #fff;
}
.btn-blue-dark-light:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}
.btn-outline:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline-red {
  border: 1px solid #FB435F;
  color: #FB435F;
}
.btn-outline-red:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-close {
  font-family: "Material Icons";
  font-size: 2.4rem;
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
textarea {
  max-width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: #fff;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=file]:focus,
input[type=date]:focus,
textarea:focus {
  border-bottom: 1px solid #2DFFBA !important;
}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=search]:disabled,
input[type=number]:disabled,
input[type=email]:disabled,
input[type=tel]:disabled,
input[type=file]:disabled,
input[type=date]:disabled,
textarea:disabled {
  cursor: default;
  color: rgba(255, 255, 255, 0.4);
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date] {
  vertical-align: middle;
  padding-top: 20px !important;
  padding-bottom: 8px !important;
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
  width: 100%;
}

input[type=password] {
  -webkit-text-security: disc;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

select {
  padding-top: 20px !important;
  padding-bottom: 8px !important;
  font-size: 1.6rem !important;
  line-height: 2.4rem !important;
  background-size: 24px !important;
  padding-right: 40px !important;
  background-position: right 0 top 50% !important;
  position: relative !important;
  background-color: transparent !important;
  background-image: url(../images/ico-expand-more.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  text-align: left !important;
  -moz-text-align-last: left;
       text-align-last: left;
  color: #fff !important;
}
select:not(select.noborder) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
select:not(select.noborder):focus {
  border-bottom: 1px solid #2DFFBA !important;
}

.i-readonly {
  background-color: #f4f4f4;
}

.radio-container,
.checkbox-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.radio-container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.radio-container .checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  content: "";
  display: none;
  border-radius: 50%;
  background-color: #000A14;
}
.radio-container:hover input ~ .checkmark {
  border: 2px solid #000A14;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid #000A14;
  background-color: #000A14;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
}
.checkbox-container .checkmark:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 9px;
  margin-top: -calc(9px)/2-2px;
  margin-left: -calc(5px)/2;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-container:hover {
  color: #000A14;
}
.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #000A14;
}

form select {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
}
.form-row:not(:first-child) {
  margin-top: 20px;
}
.form-row .form-item {
  width: 47.5%;
  margin-top: 0 !important;
}

.form-item {
  position: relative;
}
.form-item:not(:first-child) {
  margin-top: 20px;
}
.form-item > .field {
  width: 100%;
  background: transparent;
  transition: border-color 0.2s;
}
.form-item > .field::-moz-placeholder {
  color: transparent;
}
.form-item > .field::placeholder {
  color: transparent;
}
.form-item > .field:-moz-placeholder-shown ~ .label {
  font-size: 1.6rem !important;
  cursor: text;
  top: 16px;
}
.form-item > .field:placeholder-shown ~ .label {
  font-size: 1.6rem !important;
  cursor: text;
  top: 16px;
}
.form-item > .field:focus ~ .label {
  color: #2DFFBA;
}
.form-item > .label, .form-item > .field:focus ~ .label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.2rem !important;
}
.form-item > .label {
  color: rgba(255, 255, 255, 0.5);
}

.login-form {
  margin-top: 16px;
}
.login-form .btn-h48 {
  width: 100%;
  margin-top: 24px;
}
.login-form .form-item {
  margin-top: 24px;
}
.login-form .form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 1.4rem;
}
.login-form .form-error {
  display: none;
  margin-top: 12px;
  font-size: 1.2rem;
  color: #FB435F;
  vertical-align: middle;
}
.login-form .form-error.active {
  display: block;
}
.login-form .form-error i {
  display: inline-block !important;
  margin-right: 8px;
  font-size: 1.6rem;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
  border-radius: inherit;
}

.img {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.03);
}
.img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.pagination {
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
}
.pagination ul {
  display: inline-block;
}
.pagination li {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
}
.pagination a {
  display: block;
  color: #fff;
  font-size: 1.4rem;
}
.pagination a,
.pagination a i {
  line-height: 40px;
}
.pagination a.active {
  border-radius: 50%;
  background-color: #2DFFBA;
  font-weight: 700;
  color: #000A14;
}
.pagination a.disabled {
  opacity: 0.2;
  cursor: default;
}
.pagination i {
  font-family: "Material Icons";
  font-size: 2.4rem;
  color: #fff;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.table {
  width: 100%;
}
.table thead th,
.table thead td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.table tbody th,
.table tbody td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.table caption {
  overflow: hidden;
  margin-bottom: 12px;
}
.table caption span {
  float: left;
  margin-top: 8px;
  font-size: 1.2rem;
}
.table caption button {
  float: right;
}
.table th,
.table td {
  max-width: 200px;
  padding: 12px 16px;
  text-align: left;
  word-break: break-word;
}
.table thead th,
.table thead td {
  background-color: transparent;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  vertical-align: middle;
}
.table tbody th,
.table tbody td {
  font-size: 1.4rem;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.8);
}
.table tbody th.fw-bold,
.table tbody td.fw-bold {
  color: #fff;
}
.table tbody th.fw-bold a:hover,
.table tbody td.fw-bold a:hover {
  text-decoration: underline;
}
.table tfoot th,
.table tfoot td {
  padding: 12px 16px;
  text-align: right;
}
.table tfoot a,
.table tfoot button {
  display: inline-block;
  min-width: 64px;
  text-align: center;
}
.table tr.active {
  font-weight: 700;
  color: #2DFFBA;
}

.table-hasButton tbody th, .table-hasButton tbody td {
  vertical-align: middle;
}

.layout-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 160px;
  padding-top: 66px;
  padding-bottom: 56px;
  background: #000A14;
  z-index: 200;
}
.layout-sidebar > .header {
  width: 40px;
  height: 40px;
  background-image: url(../images/logo.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}
.layout-sidebar a, .layout-sidebar button {
  display: block;
  text-align: center;
}
.layout-sidebar a i, .layout-sidebar button i {
  font-size: 3.2rem;
  color: #fff;
}
.layout-sidebar > .menu {
  width: 100%;
}
.layout-sidebar > .menu > li {
  overflow: hidden;
}
.layout-sidebar > .menu > li:not(:first-child) {
  margin-top: 40px;
}
.layout-sidebar > .menu > li a {
  padding: 12px 0;
}
.layout-sidebar > .menu > li a.active {
  position: relative;
  position: relative;
}
.layout-sidebar > .menu > li a.active i {
  color: #2DFFBA;
}
.layout-sidebar > .menu > li a.active:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 6px;
  background-color: #2DFFBA;
}

.page-login {
  height: 100%;
  overflow: hidden;
}
.page-login:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -120px;
  left: 50%;
  width: 80%;
  height: 240px;
  margin-left: -40%;
  border-radius: 50%;
  background: #2DFFBA;
  filter: blur(250px);
}
.page-login .login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 430px;
}
.page-login .header {
  margin-bottom: 80px;
  text-align: center;
}
.page-login .header img {
  width: 80px;
}
.page-login form > button {
  width: 100%;
  margin-top: 40px;
}
.page-login .copyright {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 360px;
  margin-left: -180px;
  font-size: 1.6rem;
  text-align: center;
}

.page-home .layout-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.page-home .layout-content > .body {
  display: flex;
  flex-grow: 1;
}
.page-home .section-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 7.4%;
}
.page-home .section-wrap .section {
  flex-basis: 45.6%;
}
.page-home .section.check {
  width: 22.22%;
  min-width: 200px;
}
.page-home .section.check > *:not(:first-child) {
  margin-top: 56px;
}
.page-home .section.check button {
  width: 100%;
  font-weight: 700;
}
.page-home .section.expect > .body {
  display: flex;
  text-align: center;
  vertical-align: middle;
}
.page-home .section.expect .label {
  font-size: 1.6rem;
}
.page-home .section.expect .value {
  margin-top: 8px;
  font-size: 5.6rem;
}
.page-home .section.expect .value span {
  font-size: 4rem;
}
.page-home .section.expect .chart, .page-home .section.expect .text {
  padding-top: 80px;
}
.page-home .section.expect .chart {
  width: 260px;
  height: 260px;
}
.page-home .section.expect .chart .value {
  font-weight: 700;
  font-family: "Lato";
}
.page-home .section.expect .chart .value span {
  font-weight: 400;
}
.page-home .section.expect .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12%;
}
.page-home .section.expect .text .value {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-weight: 200;
}
.page-home .section.expect .text .dot {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  border-radius: 50%;
}
.page-home .section.expect .text .dot.gray {
  background: rgba(255, 255, 255, 0.2);
}
.page-home .section.expect .text .dot.green {
  background: #2DFFBA;
}
.page-home .section.expect .text .dot.red {
  background: #FB435F;
}
.page-home .section.expect .text .dot.yellow {
  background: #FFD464;
}
.page-home .section.expect .text .guide {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.page-home .section.expect .text .guide.red {
  color: #FB435F;
}
.page-home .section.expect .text .guide i {
  margin-right: 8px;
  font-size: 2rem;
}
.page-home .section.status {
  flex-grow: 1;
  margin-top: 56px;
}
.page-home .section.status > .body {
  margin-top: 20px;
}
.page-home .section.status .chart.area {
  min-height: 300px;
  position: relative;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.page-home .section.status .empty {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -30px;
  text-align: center;
  font-size: 1.6rem;
}
.page-home .section.status .empty h6 {
  font-weight: 700;
}
.page-home .section.status .empty p {
  margin-top: 8px;
}

.page-members .layout-content {
  flex-grow: 1;
}
.page-members .layout-content.memberinfo-active {
  margin-right: 22.9%;
}
.page-members .member-info {
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 22.9%;
  min-width: 200px;
  z-index: 200;
  padding: 56px 2.91%;
  background: #14191E;
}
.page-members .member-info.active {
  display: flex;
  flex-direction: column;
}
.page-members .member-info > .body {
  flex-grow: 1;
  position: relative;
}
.page-members .member-info .form-footer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.page-members .member-info .form-footer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.page-members .member-info .form-footer hr {
  height: 1px;
  width: 100%;
  margin: 40px 0;
  background: rgba(255, 255, 255, 0.2);
}

.page-mypage .layout-content {
  padding-right: 2.27%;
}
.page-mypage .my-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 500px;
  width: 800px;
}
.page-mypage .my-info .form-footer {
  display: flex;
  margin-top: 40px;
}
.page-mypage .my-info .form-footer button:last-child {
  margin-left: auto;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.progress:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: progress 1.2s linear infinite;
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  outline: 0;
}

.modal-dialog {
  display: inline-block;
  position: relative;
  width: auto;
  max-width: 100%;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 40px 52px;
  pointer-events: auto;
  background-color: #14191E;
  background-clip: padding-box;
  border: 1px solid none;
  border-radius: 20px;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
}
.modal-header .btn-close {
  margin-left: auto;
}

.modal-body {
  position: relative;
  margin-top: 40px;
}

.modal-footer {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-footer p {
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
}
.modal-footer p span {
  font-weight: 700;
}
.modal-footer a,
.modal-footer button {
  min-width: 120px;
  margin-left: auto;
  vertical-align: middle;
}

.modal-dialog {
  margin: 1.75rem auto;
  text-align: left;
}

.modal-lg {
  max-width: 800px;
}

.modal-xl {
  width: 73%;
  min-width: 900px;
  max-width: 1140px;
}

.modal-table .modal-dialog {
  min-width: 720px;
}

.modal-apikey .modal-dialog {
  width: 400px;
}
.modal-apikey .box-green {
  margin-bottom: 40px;
  padding: 12px 0;
  border-bottom: 1px solid #2DFFBA;
  text-align: center;
  font-size: 1.6rem;
  word-wrap: break-word;
  color: #2DFFBA;
}
.modal-apikey .modal-footer button {
  width: 100%;
}