// ---
// common
// ---

body {
    overflow-x: auto;
    min-width: $min-width;
    min-height:100vh;
}

.layout-content {
    display:flex;
    flex-direction:column;
    min-height:inherit;
    margin-left: $sidebar-width;
    padding: $gutter-large 5.68% $gutter-large 2.27%;
    > .header{
        display:flex;
        align-items:center;
        h1 {
            font-size: 4rem;
            @include fw-bold;
            & + *{
                margin-left:auto;
            }
        }
        form{
            display:flex;
            align-items:center;
            .form-item{
                width:300px;
            }
            button{
                margin-left:16px;
            }
        }
    }
    > .body{
        margin-top:$gutter-large;
        &.flex-column{
        display:flex;
        flex-direction:column;
        flex-grow:1;
        }
    }
}
.form-search{
    justify-content: flex-start !important;
    .form-item{
        flex:none !important;
        width:200px;
    }
}
.list-filter{
    margin-top:calc($gutter-small - 8px);
    .btn-h32{
        @include ellipsis;
        position:relative;
        max-width:200px;
        margin-top:8px;
        padding-right:24px;
        &:before{
            content:'close';
            position:absolute;
            top: 50%;
            right:6px;
            margin-top:-12px;
            font-size:1.6rem;
            @include material-icons;
            color:rgba(#fff,.8);
        }
        &:not(:last-child){
            margin-right:8px;
        }
    }
}
.section-row{
    display:flex;
    flex-direction:row;
    gap:80px;
    .section{
        flex:1;
    }
}
.section {    
    > .header{
        display:flex;
        align-items: center;
        h3{
            font-size:2rem;
            @include fw-bold;
            span{
                @include fw-regular;
                color:rgba($font-color-base,.5);
            }
            & + *{
                margin-left:auto;
            }
        }
        select{
            padding-top:$i-padding-large-top !important;
            padding-bottom:$i-padding-large-top !important;
        }
    }
    > .body{
        margin-top:$gutter-medium;
    }
}

.empty,.progress-wrap{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-size:1.6rem;
    color:$font-color-base;
    h6{
        @include fw-bold;
    }
    p{
        margin-top:4px;
    }
}
.empty{
    flex-grow:1;
    img{
        object-fit: cover;
        object-position: 50% 50%;
    }
    h6{
        margin-top:8px;
    }
}
.progress-wrap{
    // display:flex;
    // flex-direction:column;
    // align-items: center;
    // justify-content: center;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba($blue-dark,.8);
    z-index:10;
    .progress{
        display: inline-block;
        width: 80px;
        height: 80px;
        &:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6.4px solid $color-primary;
            border-color: $color-primary transparent $color-primary transparent;
            animation: progress 1.2s linear infinite;
        }
    }
    @keyframes progress{
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    h6{
        margin-top:32px;
    }
}