
/*== start of code for tooltips ==*/
.tool {
    cursor: help;
    position: relative;
}


/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
    left: 50%;
    opacity: 0;
    position: absolute;
    z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
    opacity: 1;
    // transform: scale(1) translateY(0);
    z-index: 100; 
}


/*== pointer tip ==*/
.tool::before {
    content: "";
    bottom: calc(100% + 14px);
    margin-left: -6px;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #2F3439 transparent transparent transparent;
    // transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;
    // transform:  scale(.6) translateY(-90%);
} 

// .tool:hover::before,
// .tool:focus::before {
//     transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
// }


/*== speech bubble ==*/
.tool::after {
    background: #2F3439;
    border-radius: 8px;
    bottom: 180%;
    color: #fff;
    content: attr(data-tip);
    margin-left: -120px;
    padding: 8px 12px;
    // transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;
    // transform:  scale(.6) translateY(50%);  
    width: 240px;
    font-size:1.4rem;
}

// .tool:hover::after,
// .tool:focus::after  {
//     transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
// }

// @media (max-width: 760px) {
//   .tool::after { 
//         font-size: .75em;
//         margin-left: -5em;
//         width: 10em; 
//   }
// }